{% extends "base.html" %} {% block title %}Pattern clusters{%endblock%} {% block scripts %} {%endblock%} {% block body %}
<!DOCTYPE html>
<html>

<head>
    <title>Clusters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <script>
        function Sort() {
            console.log('sorting')
            if (document.getElementsByName("iconography")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    console.log($(b).find('.iconography').text());
                    return $(b).find('.iconography').text().localeCompare($(a).find('.iconography').text(), false, {
                        numeric: true
                    })
                })
            } else if (document.getElementsByName("authors")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.authors').text().localeCompare($(a).find('.authors').text(), false, {
                        numeric: true
                    })
                })
            } else if (document.getElementsByName("count")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.count').text().localeCompare($(a).find('.count').text(), false, {
                        numeric: true
                    })
                })
            } else if (document.getElementsByName("attributes")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.attributes').text().localeCompare($(a).find('.attributes').text(), false, {
                        numeric: true
                    })
                })
            } else if (document.getElementsByName("times")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.times').text().localeCompare($(a).find('.times').text(), false, {
                        numeric: true
                    })
                })
            } else if (document.getElementsByName("places")[0].selected) {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.places').text().localeCompare($(a).find('.places').text(), false, {
                        numeric: true
                    })
                })
            } else {
                var sortedCards = $('.show').sort(function(a, b) {
                    return $(b).find('.number').text().localeCompare($(a).find('.number').text(), false, {
                        numeric: true
                    })
                })

            }

            $('#results').remove('.show').append(sortedCards)
        }
    </script>
</head>

<body>

    <div class="row justify-content-center mt-5">
        <div class="col-9" id="results">
            {% if scores is defined %}
            <div class="row justify-content-end">
                <div class="col-4 pt-1" style='text-align:right'>
                    <div class="nav-item dropdown">
                        <form method='post'>
                            <p>Sort by:
                                <select name="thenumbers" id='sort-methods' data-toggle="tooltip" title='Click here to view and select the sorting options' class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <option name='original' value='original'>Original order</option>
                                    <option name='count' value='count'>Cluster size</option>
                                    <option name='iconography' value='iconography'>Iconographic variance</option>
                                    <option name='authors' value='authors'>Author variance</option>
                                    <option name='attributes' value='attributes'>Author attributes variance</option>
                                    <option name='times' value='times'>Period variance</option>
                                    <option name='places' value='places'>Place variance</option>
                                </select>

                            </p>
                        </form>
                    </div>
                </div>
                <script>
                    $('#sort-methods').on('change', Sort)
                </script>

            </div>
            {% endif %} {% for cluster in data.keys() %}
            <form class="show" action="#" method="POST" class="mb-5 mt-3">
                {% if item is defined %}
                <div class="form-group" id="similarity_form" style="page-break-before:always">
                    {% else %}
                    <div id="similarity_form" style="page-break-before:always">
                        {% endif %}
                        <h2>Cluster {{cluster}}</h2>
                        <div class="row">
                            {% for res in data[cluster] %} {% set box_id = 'ckb' ~ cluster ~ 'idx' ~ loop.index %} {% if item is defined %}
                            <div class="custom-control custom-checkbox image-checkbox col-3">
                                {% else %}
                                <div class="col-3">
                                    {% endif %} {% if scores is defined %}
                                    <span class="number" hidden>{{cluster}}</span>
                                    <span class="count" hidden>{{scores[cluster]['scores_count']}}</span>
                                    <span class="iconography" hidden>{{scores[cluster]['scores_iconography']}}</span>
                                    <span class="authors" hidden>{{scores[cluster]['scores_authors']}}</span>
                                    <span class="attributes" hidden>{{scores[cluster]['scores_attributions']}}</span>
                                    <span class="times" hidden>{{scores[cluster]['scores_times']}}</span>
                                    <span class="places" hidden>{{scores[cluster]['scores_places']}}</span> {% endif %} {% if item is defined %}
                                    <input type="checkbox" class="custom-control-input" id="{{box_id}}" name="{{box_id}}" value="{{res[2]}}"> {% endif %}
                                    <label class="custom-control-label" for="{{box_id}}">
                                            <p>{{res[0]|safe}}</p>
                                            <img src="{{res[1]}}" alt="#" class="img-fluid img-thumbnail" width="300">
                                        </label>
                                </div>
                                {% endfor %}

                            </div>

                        </div>
                        {% if item is defined %}

                        <button id="duplicates" type="submit" name="submit" value="duplicates" class="btn btn-light">
                        Duplicates
                    </button>
                        <button id="submit_similar_imges" type="submit" name="submit" value="similar_images" class="btn btn-light">
                        Confirm Pattern
                    </button>
                        <button id="submit_both_imges" type="submit" name="submit" value="both_images" class="btn btn-light">
                        Confirm Pattern and Wrong 
                    </button>
                        <button id="submit_general" type="submit" name="submit" value="general_images" class="btn btn-light">
                        Confirm Similar
                    </button>
                        <button id="submit_both_general" type="submit" name="submit" value="both_general_images" class="btn btn-light">
                        Confirm Similar and Different 
                    </button>
                        <button id="submit_wrong" type="submit" name="submit" value="wrong" class="btn btn-light">
                        Wrong Cluster
                    </button>
                        <button id="submit_correct" type="submit" name="submit" value="correct" class="btn btn-light">
                        Correct Cluster
                    </button>

                        <input class="form-control" style='visibility: hidden;' placeholder="Enter UID of the image" name="item" value="{{item}}" required />
                        <input id="form" name="form" style='visibility: hidden;' type='text' value={{cluster}}> <br>{% endif %}
            </form>
            {% endfor %}
            </div>

            {% if item is defined %}
            <div class="col-2">
                <form action="#" method="POST" class="mb-3">
                    <h5>Search in metadata</h5>

                    <div class="form-group" id="text_form">
                        <input class="form-control" placeholder="Enter text search" name="item_meta" value="{{item}}" required />
                    </div>

                    <button id="submit_metadata_search" type="submit" name="submit" value="metadata_search" class="btn btn-light">Search</button>
                </form>
                <form action="#" method="POST" class="mb-3">
                    <h5>Search with cluster number</h5>

                    <div class="form-group" id="text_form">
                        <input class="form-control" placeholder="Enter UID of the image" name="item" value="{{item}}" required />
                    </div>

                    <button id="submit_text_search" type="submit" name="submit" value="text_search" class="btn btn-light">Search</button>
                </form>
                <form action="#" method="POST" enctype="multipart/form-data" id="random_search_form" class="mb-3">
                    <div class="form-group">
                        <h5>Random Search</h5>
                    </div>

                    <button type="submit" name="submit" value="random_search" class="btn btn-light">Random
                                Search</button>
                </form>
                <form action="#" method="POST" enctype="multipart/form-data" id="next_search_form" class="mb-3">
                    <div class="form-group">
                        <h5>Next</h5>
                    </div>

                    <button type="submit" name="submit" value="next_search" class="btn btn-light"> Next</button>
                    <input class="form-control" style='visibility: hidden;' placeholder="Enter UID of the image" name="item" value="{{item}}" required />

                </form>

            </div>
            {% endif %}


            </div>


            <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>


</body>

</html>
{% endblock %}