{% extends "base.html" %} {% block title %}Home - Pattern groups{%endblock%} {% block body %}
<header class="text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="mt-5">
                <div class="container">
                    <h3 class="arial">Semi-supervised Clustering of <br> Visual Signatures of Artworks - Interface</h3>
                    <h4 class="arial">Created by Ludovica Schaerf (Master Thesis)</h4>
                    <p class="mt-3">The project Replica, about six years ago, paved the way to computational studies of visual patterns in art history. Simultaneously, it created the possibility for art historians to trace the propagation of patterns throughout the history
                        of art. During the project, an image retrieval network was set up to discover artistic patterns given an input image. Despite successfully serving monographic needs and targeted search attempts, the network does not propose spontaneous
                        discoveries. In this thesis, we eliminate the middle man of the input image, creating clusters of artworks sharing a common pattern propagation. The clusters are integrated further with a 2D coordinate-based visualisation, which
                        provides an organic view of the evolution of the patterns in art history.
                        <br> In this effort, we demonstrate the effectiveness of fine-tuning deep learning models on a set of visual connections using a compound Hinge loss and ResNeXt architecture. Moreover, we show that clustering the trained visual
                        signatures with OPTICS yields remarkable precision. We emphasise the importance of the semi-supervised learning of the clusters, proving the qualitative and quantitative improvement over generic clustering methods. Furthermore,
                        we close the loop of the semi-supervised clustering through the annotation of the new findings in the clusters proposed, and retraining thereof. In total, we add over 700 new images to the set of slightly over 1800 existing visual
                        connections. We find, in addition, examples of cross-domain, architectural, design and sketch based patterns, which were previously outside the scope of the known visual connections. . <br><br> To view the morphograph as cluster
                        you can click
                        <a href="/morphograph" class="btn btn-light">here</a>.<br> To view the clusters based on the subset embeddings, click
                        <a href="/clusters" class="btn btn-light">here</a>. <br> To show the clusters from all the embeddings, click
                        <a href="/clusters_subset" class="btn btn-light">here</a>. <br> To view the clusters in 2D coordinates, click
                        <!-- <a href="/clusters_hierarchical" class="btn btn-light">Show clusters from embeddings (H)</a> -->
                        <a href="https://ludovicaschaerf.github.io/pixplot_pattern_propagation/" class="btn btn-light">here</a>. <br>
                        <!-- <a href="/annotate" class="btn btn-light btn-xl rounded-pill mt-5">Annotate</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>

</header>

{% endblock %}