{% extends "base.html" %} {% block title %}Home - Pattern groups{%endblock%} {% block body %}
<header class="text-center">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="mt-5">
                <div class="container">
                    <h3 class="arial">Semi-supervised Clustering of <br> Visual Signatures of Artworks - Interface</h3>
                    <h4 class="arial">Created by Ludovica Schaerf (Master Thesis)</h4>
                    <p class="mt-3">Copy paste abstract. <br> To view the morphograph as cluster you can click
                        <a href="/morphograph" class="btn btn-light">here</a>.<br> To view the clusters based on the subset embeddings, click
                        <a href="/clusters" class="btn btn-light">here</a>. <br> To show the clusters from all the embeddings, click
                        <a href="/clusters_subset" class="btn btn-light">here</a>. <br> To view the clusters in 2D coordinates, click
                        <!-- <a href="/clusters_hierarchical" class="btn btn-light">Show clusters from embeddings (H)</a> -->
                        <a href="https://ludovicaschaerf.github.io/pixplot_pattern_propagation/" class="btn btn-light">here</a>. <br>
                        <!-- <a href="/annotate" class="btn btn-light btn-xl rounded-pill mt-5">Annotate</a> -->
                    </p>
                </div>
            </div>
        </div>
    </div>

</header>

{% endblock %}