{% extends "base.html" %} {% block title %}Web Annotation{%endblock%} {% block body %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Image retrieval and cluster annotation</h1>
            <!-- <h2 class="masthead-subheading mb-0"></h2> -->
            <a href="/morphograph" class="btn btn-primary btn-xl rounded-pill mt-5">Original morphograph</a>
            <br>
            <a href="/clusters" class="btn btn-primary btn-xl rounded-pill mt-5">Show clusters results</a>
            <br>
            <a href="/clusters_subset" class="btn btn-primary btn-xl rounded-pill mt-5">Show clusters (only subset)</a>
            <br>
            <a href="/visual_embeds" class="btn btn-primary btn-xl rounded-pill mt-5">Show visual clusters</a>
            <br>
        </div>
    </div>
</header>

{% endblock %}